.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: fixed url('/background/1.png') no-repeat center center;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #74e0aa no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-size: cover;
  animation-name: splash;
  animation-duration: 5s;
  animation-delay: 2s;
  overflow: -moz-hidden-unscrollable;
}

@keyframes splash {
 from {
    background: #74e0aa no-repeat center center;
    top: 0;
  }
  to {
    background: #74e0aa00 no-repeat center center;
    top: -100vh;
  }
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: .2rem;
  animation: swing ease-in-out 1.5s infinite alternate;
  transform-origin: center 2rem;
}
 
@keyframes swing {
  0% { transform: rotate(2deg); }
  /* 25% { transform: rotate(-6deg); }
  50% { transform: rotate(3deg); } */
  100% { transform: rotate(-2deg);}
}


.header img {
  width: 100%;
  max-width: 400px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.board::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: .5em;
  margin: .5em 2em;
}


.navbar > button {
  padding: 1em;
  margin: 2em;
  border-radius: 50px;
  border: none;
  background: #74e0aa;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.navbar > button:hover {
  background: #fff;
  color: #74e0aa;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* Tablet */
@media (min-width: 601px) and (max-width: 1080px) {

  .main {
    background-image: url('/background/1.png');
    background-size: cover;
  }

  .navbar {
    padding: 5em 4em;
  }

  .header img {
    width: 100%;
    max-width: 500px;
  }

}

/* Mobile */
  
@media (min-width: 390px) and (max-width: 600px) {
  
  .main {
    background-image: url('/background/1.png');
    background-size: cover;
  }

  .navbar {
    padding: 4em 2em;
  }

  .header img {
    width: 100%;
    max-width: 350px;
  }

  .navbar > button {
    position: fixed;
    bottom: 0;
    z-index: 2;
  }
  
}
