.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-image: url('/background/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {  
    transform: translateZ(-50px) scale(4);
}

.cloud1 {
    width: 400px;
    transform: translateZ(-30px) scale(4);
}

.cloud2 {
    width: 300px;
    transform: translateZ(-10px) scale(2.2);
}

.cloud3 {
    width: 300px;
    transform: translateZ(-5px) scale(1.5);
}

.background,
.cloud1,
.cloud2,
.cloud3 {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.cloud2 {
    top: 70em;
    left: 10em;
}

.cloud3 {
    top: 80em;
    right: 10em;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 2em;
    position: absolute;
    z-index: 1;
    top: 65em;
}

.results > p {
    width: 100%;
    text-align: center;
    color: #404040;
    font-size: 1.5em;
}

.parallax {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    transform-style: preserve-3d;
    z-index: -1;
} 

.main > button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    margin: 2em;
    border-radius: 50px;
    border: none;
    background: #74e0aa;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.main > button:hover {
    background: #fff;
    color: #74e0aa;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.results > button {
    padding: 1em;
    margin: 2em;
    border-radius: 50px;
    border: none;
    background: #74e0aa;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1080px) {

    .main > button {
        top: 3em;
        left: 3em;
    }

    .results > p {
        font-size: 1em;
    }

    .results > button {
            margin-bottom: 20em;
    }
        
}

/* Mobile */
@media (min-width: 414px) and (max-width: 600px) {

    .main > button {
       top: 4em;
    }

    .results > p {
        font-size: 1em;
    }
}
